[Unit]
Description=Privacy on Beam service
After=syslog.target

[Service]
ExecStart=/srv/diff-privacy-beam/server
User=www-data
Group=www-data
Restart=always
RestartSec=5s
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
