[Unit]
Description=Privacy on Beam service
After=syslog.target

[Service]
ExecStart=/usr/local/go/bin/server
User=www-data
Group=www-data
Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
