server {
    listen 80;  # default port 80; must match backend port selected when creating web proxy on Horizon
    server_name diff-privacy-beam.wmcloud.org;

    location / {
        proxy_pass http://localhost:9990;
    }
}